mixin parkCard( park = {} )
  .park
    .park__hero
      .park__buttons
        .park__heart 
          if user
            form.heart(method="POST" action=`/api/parks/${park._id}/heart`)
              - const heartStrings = user.hearts.map(obj => obj.toString())
              - const heartClass = heartStrings.includes(park._id.toString()) ? 'user__hearted' : ''
              button.heart__button(type="submit" name="heart" class=heartClass)
                != help.icon('heart fa-3x')
        .park__edit 
          if user && park.author.equals(user._id)
            a(href=`/parks/${park._id}/edit`)
              != help.icon('edit')
      img(src=`/uploads/${park.photo || 'parkGeneric.jpg'}`)
      h2.title
       a(href=`/park/${park.slug}`) #{park.name}
    .park__description 
      p= park.description.split(' ').slice(0, 25).join(' ')